.forYou {
  padding-left: 150px;
  padding-right: 150px;
  margin-top: 70px;
  margin-top: 120px;
  text-align: center;

  .top {
    width: 100%;

    h2 {
      color: var(--green);
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 44px;
    }

    h1 {
      color: var(--ink-color);
      font-size: 40px;
      margin: 10px 0 30px 0;
      font-style: normal;
      font-weight: 900;
      line-height: 56px;
    }

    .yourHouse-p {
      color: var(--dark-white);
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
    }
  }

  .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 20px;

    .card {
      min-width: 300px;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      border-radius: 30px;
      text-align: left;
      padding: 24px;
      gap: 16px;
      background: var(--light-white);

      img{
        width: 100%;
        height: 250px;
        border-radius: 10px;
      }

      .title-p {
        font-size: 18px;
        font-weight: 700;
        color: var(--dark);
      }

      .content-p {
        color: var(--dark-white);
        font-size: 14px;
        font-weight: 500;
        line-height: 22px;
      }

      button {
        width: 100%;
        border-radius: 12px;
        border: 1px solid var(--green);
        background: transparent;
        overflow: hidden;

        a {
          width: 100%;
          padding: 14px 20px;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 16px;
          color: var(--green);
          font-style: normal;
          font-weight: 600;
          transition: .5s;

          &:hover {
            background: var(--green);
            color: var(--white-color);
          }
        }
      }
    }
  }
}

@media screen and (max-width:1025px) {
  .forYou{
    padding-inline: 40px;

    .bottom{
      flex-wrap: wrap;
    }
  }
}