* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    // border: 1px solid red;
    &::selection {
        background-color: var(--green);
        color: var(--white-color);
    }
}

:root{
    --white-color: #fff;
    --light-white: #F6F7ED;
    --dark-white-input: #E3E2E2;
    --dark-white-input-placeholder: #B7B4BB;
    --dark-white: #726A7E;
    --blured-black: rgba(0, 0, 0, 0.32);
    --ink-color: #332942;
    --ink-shadow: rgba(51, 41, 66, 0.32);
    --dark: #000;
    --green: #0FC36D;
    --light-green: #41f19c;
    --green-shadow: rgba(15, 195, 109, 0.32);
}

// :root[data-theme="dark"] {
//     --white-color: #00111c;
//     --light-white: #002945;
//     --dark-white-input: #E3E2E2;
//     --dark-white-input-placeholder: #B7B4BB;
//     --dark-white: #B7B4BB;
//     --blured-black: rgba(0, 0, 0, 0.32);
//     --ink-color: #41f19c;
//     --ink-shadow: rgba(51, 41, 66, 0.32);
//     --dark: #26eb8c;
//     --green: #0FC36D;
//     --light-green: #41f19c;
//     --green-shadow: rgba(15, 195, 109, 0.32);
// }

body {
    background: var(--white-color);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    outline: none;
}

section{
    padding-inline: 100px;
}